<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
	<title>VueJS</title>
<link rel="stylesheet" type="text/css" href="assets/css/style.css">
<script src="vue.js"></script>

 	
</head>

<body>
<div id="app">
  <ul>
    <li v-for="(ing, i) in ingridients"> {{ ing }} {{ i }} </li>
    <li v-for="p in persons">
      <span v-for="value in p"> {{ value }} </span>
    </li>
  </ul>
</div>




<script>
  new Vue({
    el: '#app',
    data: {
      ingridients: ['meat', 'fruit', 'cookies'],
      persons: [
        {name: 'Max', age: 27, color: 'red'},
        {name: 'Ann', age: 'unk', color: 'black'}
      ]
      
    },

  });


</script>

</body>
</html>