

.demo {
  width: 100px;
  height: 100px;
  background-color: darkgray;
  display: inline-block;
  margin: 10px;
}

.red {
  background-color: red;
  height: 300px;	
}

.blue {
  background-color: blue;
  width: 200px;

}

.green {
  background-color: green;	
}